$agency-theme-color-secondary-alt :#5a9eb1;
$common-background: #bebebe7a;

.claim-details-main {
  margin-top: 20px;
  width: 800px;

  button {
    padding: 5px;
    border: 1px solid gray
  }

  .claim-details-buttons {
    text-align: left;
  }
}

.claim-details {
  padding: 15px 25px;
  margin-top: 32px;
  border-radius: 10px;

  .details-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .details-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .details-horizontal-line {
    margin: 10px -25px;
    height: 2px;
  }

  .line-light {
    background-color: $agency-theme-color-secondary-alt;
  }

  .line-dark {
    background-color: #F0F0F0;
  }

  .notification-footer-data {
    border: 1px solid #E28484;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 12px;
  }
  .notification-dark{
    background-color: #F0F0F0;
    color: #29333C;
  }

  h5 {
    font-weight: 600;
    font-size: 18px;
  }

}

.claim-details-light {
  background-color: $common-background;

  h5 {
    color: $agency-theme-color-secondary-alt;
  }
}

.claim-details-dark {
  background-color: #29333C;
  color: #F0F0F0;

  h5 {
    color: #F0F0F0;
  }
}

.details-fields {
  font-size: 12px;

}