.accordion-title{
  font-size: 18px;
}
.accordion-common{
  background-color: #29333C !important;
  border-top: 1px solid #fff;
  color: #FFFFFF!important;
  .MuiSvgIcon-root{
    color:#FFFFFF;
  }
}